{% extends 'index.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

	{% block page-title %}
    <title>Czar Yobero</title>
	{% endblock %}   
<body>
{% block navbar-active %}
<li class="nav-item active">
	<a class="nav-link" href="#">Home
		<span class="sr-only">(current)</span>
	</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="#">About</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="#">Gang Shit
	</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="#">About Me</a>
</li>
{% endblock %}
{% block page-content %}

  <!-- Page Content -->
  <div class="container">

    <div class="row">
{% for post in posts %}
      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
		<h1 class="mt-4">{{ post.title  }}</h1>

        <!-- Author -->
        <p class="lead">
          by
		  <a href="#">{{ post.author.first_name  }} {{ post.author.last_name }}</a>
        </p>

        <hr>

        <!-- Date/Time -->
		<p>{{ post.timestamp  }}</p>

        <hr>

        <!-- Preview Image -->
		<img class="img-fluid rounded" src="{{ post.image.url }}" alt="" width="700", height="500">

        <hr>

        <!-- Post Content -->
		<p class="lead">{{ post.caption }}</p></br>
		<a class="btn btn-primary" href="/post/{{ post.slug }}" role="button">Read More</a>
{% endfor %}
        <hr>

                        
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>



{% endblock %}
</body>
</html>
