{% extends 'index.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
{% block page-title %}
<title>{{ post.title }}</title>
{% endblock %}
</head>
<body>
{% block navbar-active %}
<li class="nav-item">
	<a class="nav-link" href="{% url 'home' %}">Home
		<span class="sr-only">(current)</span>
	</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="#">About</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="#">Chatbot
	</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="#">About Me</a>
</li>
{% endblock %}

{% block page-content %}
<!-- Page Content -->
<div class="container">
	<div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8">
	<h1 class="page-title">{{ post.title }}</h1>
	
	<div id="post-content">
	<p>{{ post.body }}</p>
	</div>

	</div>
	<div class="col-lg-2"></div>

	</div>

</div>
{% endblock %}
</body>

</html>
